*{
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    font-family: "Inter" sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

header{
    position: static;
    width: 120px;
    height: 48px;
    left: 0px;
    top: 0px;
    margin: 40px 0px;
}

.main{
    display: flex;
}


#insertar {
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: 0;
    text-align: center;
    padding-top: 15px;
}

h6{
    position: static;
    width: 240px;
    height: 18px;
    left: 24px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    order: 1;
    margin-left: 180px;
    margin-top: 530px;

    
}
section{
    flex-direction: row;
}

.input-text{
    margin-top: 90px;
}

.input-text-area{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
}
#desifrar {
    position: absolute;
    width: 400px;
    height: 750px;
    left: 1000px;
    top: 40px;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    padding-top: 15px;
    

}
#boton1{
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    background: #0A3871;
    border-radius: 24px;
    margin-top: 10px;
    margin-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

#boton2{
    box-sizing: border-box;
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
::placeholder{
    color: #0A3871;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.previsualizacion{
    position: absolute;
    width: 350px;
    top: 30px;
    margin-top: 40px;
    left: 1100px;
  

}
#imagenM{
    position: relative;
    width: 350px;
    margin-top: 40px;
    left: 10px;
    top: 30px;
}
#text-1{
    width: 336px;
    height: 50px;
    left: 1000px;
    top: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-top: 40px;
    text-align: center;
   
    
}
#text-2{
    width: 336px;
    height: 75px;
    left: 1000px;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    
}
#copiar{
    position: absolute;
    width: 200px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    left: 1200px;
    margin-top: -50px;
}







